.cdt{
    margin-top: -6px;
    margin-left: 5px;
  }
  
.contactdet{
  background: linear-gradient(220deg,#3ed4ee,#1171ef);
    display: block;
    justify-content: center;
    align-items: center;
      width: 100%;
      height:fit-content;
      justify-content: space-around;
      padding: 0.9rem 1rem;
      margin: auto;
      height: 210px;
  }
  .conthead{
    background: linear-gradient(220deg,#3ed4ee,#1171ef);
    color: white;
    font-size: 40px;
    margin: auto;
   text-align: center;
  }
  .contactdet>div{
    margin: auto;
    /* width: fit-content; */
      color: white;
    height:fit-content;
      /* border:2px solid green; */
      font-size: 25px;
      display: flex;
      gap: 5px;
      margin-bottom: 5px;
  }
  .contactdet>div:first-child{
    width: fit-content;
  }
  .lasticons{
    display: flex;
    /* border: 1px solid red; */
    width: 400px;
    justify-content: space-evenly;
  }
 
  @media  (max-width: 426px){
    .conthead{
        background-color: #172b4d;
        color: white;
        font-size: 30px;
        margin: auto;
       text-align: center;
      }
      .lasticons{
        display: flex;
        /* border: 1px solid red; */
        width: 200px;
        justify-content: space-evenly;
      }
      .contactdet{
        background-color: #172b4d;
        display: block;
        justify-content: center;
        align-items: center;
          width: 100%;
          height:fit-content;
          justify-content: space-around;
          padding: 0.9rem 1rem;
          margin: auto;
          height: 200px;
      }
      .foot-contact{
        border: 1px solid red;
      }
      .cdt>h3{
        margin-top: 6px;
        font-size: 20px;
      }
  }