
.logo {
  color: white;
  font-family: sans-serif;
  font-weight: 300;
}

.navbarbox {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  margin: auto;
  z-index: 1;
  position: fixed;
  background-color: #134a81;
}

.menu {
  text-align: center;
  border-radius: 5px;
  background-color: #ff8f00;
  width:100%;
}

.menu>a {
  color: blue;
  text-decoration: none;
  text-align: center;
}

.menuItem {
  width: 100%;
  margin: auto;
  text-decoration: none;
  background-color: #03bcf4;
  height: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  align-content: center;
  padding: 15px 5px;
  margin-top: 15px;
 
}

.menuItem>p {
  margin-left: 70px;
  padding: 5px 0;
  font-size: 20px;
  margin-top: 15px;
  color: rgb(40, 40, 40);
}

.css-1l1kldz {
  height: 400px;
}

.css-1l1kldz {
  background-color: green;
  height: 50px;
  text-align: center;
}

.menubutton {
  display: none;
}

.active {
  text-decoration: none;
  color: #ff8f00;
}

.default {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navlink {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.link {
  transition: 0.2s;
  color: white;
  font-family: sans-serif;
  font-size: large;
  text-decoration: none;
  width: fit-content;
  margin-right: 80px;
}

.link:hover {
  text-shadow: 0 0 10px #6888c8,
    0 0 20px #6888c8,
    0 0 20px #6888c8,
    0 0 20px #6888c8,
    0 0 20px #6888c8;

  transform: scale(1.1);
}

.logo {
  font-family: 'Agustina', sans-serif;
  color: white;
  margin-left: 30px;

}


.navresume {
  font-size: 20px;
  margin-right: 50px;
}
.navresume :hover{
  background-color: black ;
}



@media only screen and (max-width: 1200px) {
  .link {
    transition: 0.2s;
    color: white;
    font-family: sans-serif;
    font-size: medium;
    text-decoration: none;
    width: fit-content;
    margin-right: 40px;
  }


}
@media only screen and (max-width: 850px) {
  .menubutton {
    display: contents;
    height: 95%;
    width: 2rem;

  }
}

@media only screen and (max-width: 600px) {
  .navbarbox {
    width: 100%;
    height: 4rem;
  }

  .menubutton {
    display: contents;
    height: 95%;
    width: 2rem;

  }

  .active {
    display: none;
  }

  .menuItem:hover {
    text-decoration: none;
    box-shadow: 0 0 10px #03bcf4,
      0 0 5px #03bcf4,
      0 0 5px #03bcf4,
      0 0 5px #03bcf4
  }
}




@media only screen and (max-width: 420px) {
  .navresume {
    font-size: 10px;
  }
  .navlink {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
  }

  .navbarbox {
    margin-top: 10px;
    width: 100%;
    height: 3rem;
    margin: auto;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin-bottom: 20px;
  }

  .menubutton {
    display: contents;
    height: 95%;
    width: 2rem;
    margin-right: 5px;

  }

  .menu {
    width: 250px;
    color: white ;
  }

  .css-1tq2qea {
    width: 240px;
  }

  .menuItem {
    background-color: white;
  }

  .menuItem:hover {
    text-decoration: none;

    box-shadow: 0 0 10px #03bcf4,
      0 0 5px #03bcf4,
      0 0 5px #03bcf4,
      0 0 5px #03bcf4
  }


}