@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Dancing+Script&family=Poppins:ital,wght@1,700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Orbitron&display=swap');


.disc{
    color:rgb(40, 40, 40);
    text-align: justify;
    /* word-spacing: 0.5ch; */
    font-family: sans-serif;

}

/* https://wallpaperaccess.com/full/1092564.jpg */
.aboutebox{
    /* background-image: 
  url("https://wallpaperaccess.com/full/1092564.jpg "); */
    /* background-color: rgb(248, 248, 248); */
    background-color: white;
    width: 100%;
    margin-top: 10px;
    height: 830px;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    border: 1px solid red;
    
}
/* .aboutevideo{
    position: absolute;
    z-index: -1;
    top:100vh;
    left: 0;
    width: 100%;
    height: 100%;
      object-fit: cover;
 } */

.aboutebox>h1{
    font-size: 40px;
    color: rgb(38, 38, 38);
    font-family:'Marck Script', cursive;
    /* animation :aboute 2s linear infinite; */
   
}
.abtcontent{
    display: flex;
    margin: auto;
    width: 90%;
}
.abtcontent>div{
    margin: auto;
}
.abtcontent>div>img{
    width: 560px;
}

.box{
    display: inline-block;
    border: 1px solid green;
    width: 25%;
    padding: 20px;
}
.animatebox{
    animation-name: animate-rocket;
    animation-duration: 2s;
}
@keyframes animate-rocket {
    0% {
        transform: scale(0) rotate(10deg);
      }
      /* 5% {
        transform: scale(1.25) rotate(-15deg);
      }
      10% {
        transform: scale(1.5) rotate(5deg);
      }
      15% {
        transform: scale(1.75) rotate(-10deg);
      } */
      20% {
        transform: scale(1.5) rotate(0);
      }
      
}
.coderanimation{
    animation-duration: 2s;
    animation-name: moveright;
}

@keyframes moveright {
    0%{
        transform: translateX(-600px);
    }
    100%{
        transform: translate(0);
    }
    
}


/* @keyframes aboute {
    0%{
           text-shadow: 0 0  40px #5ddcff,
           0 0  40px  #5ddcff,
            0 0  40px #5ddcff,
            0 0  40px #5ddcff

    }
    50%{
      text-shadow: 0 0  10px #5ddcff,
      0 0  5px #5ddcff,
       0 0  5px #5ddcff,
       0 0  5px #5ddcff
    }
    100%{
      text-shadow: 0 0  40px #5ddcff,
      0 0  40px  #5ddcff,
       0 0  40px #5ddcff,
       0 0  40px #5ddcff
    }
    
  }
  .boximg{
    width: 300px;
  }
.box{
    margin: auto;
  
   display: flex;
    width: 45rem;
    
    border:3px solid orange;
    border-radius: 10px;
   
    padding:30px 30px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
   
    
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 #5ddcff; ;     
    animation-name: moveleft;
    animation-duration: 5s;
    margin-top: 25px;
}
@keyframes moveleft {
    0%{
        transform: translateX(1500px);
    }
    100%{
        transform: translate(0);
    }
    
}
.fake{
    border: none;
    width: 200px;
    height:5rem;
    margin: auto;
} */

 @media only screen and (max-width: 1200px) {
    .aboutebox{
     width: 60rem;
     height: fit-content;
     padding: 0.5rem;
     margin: auto;
    }
    .aboutebox>h1{
     font-size: 2rem;
 }
    .box{
     width:80%;
     height:fit-content;
     font-size:1rem;
    }

 }


 @media only screen and (max-width: 600px) {
   .aboutebox{
    width: 40rem;
    height: fit-content;
    padding: 0.5rem;
    margin: auto;
   }
   .aboutebox>h1{
    font-size: 2rem;
}
   .box{
    width:80%;
    height:fit-content;
    font-size:1rem;
   }
   .abtcontent>div>img{
    width: 260px;
}
.coderanimation{
    animation-duration: 2s;
    animation-name: moveright;
}


}


@media only screen and (max-width: 420px) {
    .aboutebox{

        width: 20rem;
        height: fit-content;
        padding: 0.5rem;
        margin: auto;
       }
       .aboutebox>h1{
        font-size: 50px;
    }
       .box{
        width:80%;
        height:fit-content;
        font-size:1rem;
       }
       .disc {
        font-size: 1rem;
    }
    .abtcontent>div>img{
        width: 0px;
        visibility: hidden;
    }
    
    
  }