@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Dancing+Script&family=Poppins:ital,wght@1,700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Orbitron&display=swap');


.disc{
    color:rgb(40, 40, 40);
    text-align: justify;
    font-family: sans-serif;

}


.aboutebox{
 
    background-color: white;
    width: 100%;
    margin-top: 10px;
    height: fit-content;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}


.aboutebox>h1{
    font-size: 40px;
    color: rgb(38, 38, 38);
    font-family:'Marck Script', cursive;
    /* animation :aboute 2s linear infinite; */
   
}
.abtcontent{
    display: flex;
    margin: auto;
    width: 90%;

}
.abtcontent>div{
    margin: auto;
    /* border: 1px solid red; */
}
.abtcontent>div>img{
    width: 360px;
}

.box{
    display: inline-block;
    width: 37%;
    padding: 20px;
    word-spacing: -3px;
    word-break: normal;
    font-family: sans-serif;
}
.animatebox{
    animation-name: animate-rocket;
    animation-duration: 1.2s;
}
@keyframes animate-rocket {
    0% {
        transform: scale(0) rotate(10deg);
      }
      20% {
        transform: scale(1.5) rotate(0);
      }
      
}
.coderanimation{
    animation-duration: 2s;
    animation-name: moveright;
}

@keyframes moveright {
    0%{
        transform: translateX(-600px);
    }
    100%{
        transform: translate(0);
    }
    
}

 @media only screen and (max-width: 1200px) {
    .aboutebox{
     width: 100%;
     height: fit-content;
     padding: 0.5rem;
     margin: auto;
    }
    .aboutebox>h1{
     font-size: 2rem;
 }
    .box{
     width:30%;
     height:fit-content;
     font-size:1rem;
    }

 }


 @media only screen and (max-width: 600px) {
   .aboutebox{
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
    margin: auto;
   }
   .aboutebox>h1{
    font-size: 2rem;
}
   .box{
    margin: auto;
    width:80%;
    height:fit-content;
    font-size:1rem;
    word-spacing: 2px;
   }
   .abtcontent>div>img{
    width: 260px;
}
.coderanimation{
    animation-duration: 2s;
    animation-name: moveright;
}
.abtcontent>div>img{
    width: 0px;
    visibility: hidden;
}
.abtcontent{
       
    margin: auto;
    width: 90%;
    margin-left: -5px;
}
}


@media only screen and (max-width: 420px) {
    .abtcontent{
       
        margin: auto;
        width: 90%;
        margin-left: -5px;
    }
    .aboutebox{
        width: 100%;
        height: fit-content;
        padding: 0.5rem;
        margin: auto;
       }
       .aboutebox>h1{
        font-size: 30px;
    }
       .box{
        margin: auto;
        width:80%;
        height:fit-content;
        /* font-size:1rem; */
        word-spacing: 2px;
       }
       .disc {
        font-size: 1rem;
        word-spacing: 2px;
    }
    .abtcontent>div>img{
        width: 0px;
        visibility: hidden;
    }
    
    
  }