@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Orbitron&display=swap');



.contact{
  /* background-image: 
  url("https://cache.desktopnexus.com/thumbseg/2481/2481737-bigthumbnail.jpg"); */
  background-color: white;
    width: 100%;
    height:100rem;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 30px;
    height: auto;
    padding-top: 100px;
   margin-top: auto;
    text-align: center;
}
.contact>h1{
    
    font-size: 40px;
    width: fit-content;
    margin: auto;
    color: rgb(40, 40, 40);
    text-align: left;
}

.contactbox{
    width: 90%;
    height: 80vh;
    margin: auto;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fullcontactcont{
  /* border: 1px solid blue; */
  display: grid;
  gap: 20px;
}
.contactinput{
    width: 45%;
    height:fit-content;
    border-radius: 20px;
    display: flex;
    color: rgb(72, 72, 72);
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 8px 32px 0 rgb(72, 72, 72); 
    padding: 0.8rem 0.8rem;     
    animation-name: moveleft;

    /* border: 2px solid green; */
    /* background-image:linear-gradient(to right bottom ,black  ,#0a0221  ); */
}
.contactinput>h1{
    font-size: 1.5rem;
}
.subbtn{
    height: 60%;
    background-color: transparent;
    border: 2px solid rgb(72, 72, 72);
    color: rgb(72, 72, 72);
    border-radius: 7px ;
    margin: auto;
    margin-top: 0.5rem;
  }
  /* .subbtn:hover{
   box-shadow: 0 0 5px #5ddcff,
   0 0 5px #5ddcff,
   0 0 5px #5ddcff,
   0 0 5px #5ddcff,
   0 0 5px #5ddcff;
   text-shadow:0 0 5px #5ddcff,
   0 0 20px #5ddcff,
   0 0 20px #5ddcff,
   0 0 20px #5ddcff,
   0 0 20px #5ddcff; ;
  } */







  @media only screen and (max-width: 1200px) {
    .contact{
        width: 100%;
    height: fit-content;
       
    }
    .contactbox{
        width: 95%;
        margin: auto;
        
        height: auto;
    }
  }
  @media only screen and (max-width: 600px) {
    .contact{
      width: 100%;
      height: fit-content;
    }
    .contactbox{
      width: 80%;
      height: fit-content;
      margin: auto;
    
      display: flex;
       flex-direction: column;
      grid-gap:2rem;
      padding:1rem 1rem
  }
  .contactbox>div{
    width: 100%;
  }

  }





  
  @media only screen and (max-width: 420px) {
    
    .contact{
      margin-top: -20px;
      width:90%;
      border-radius: 5px;
      height: auto;
    }
    .contactbox{
      width: 98%;
      border-radius: 5px;
      height: fit-content;
      margin: auto;
      flex-direction: column;
      grid-gap:2rem;
     
  }
  /* .contactdetails{
    justify-content: space-around;
    width: auto;
    font-size: 10px;
    height: fit-content;
    padding: 0.5rem 0.5rem;
  }
  .contactdetails>div{
    width: 98%;
    font-size: 0.8rem;
  } */
  .contactinput{
    width: 90%;
    font-size: 10px;
    height: fit-content;
    padding: 0.5rem 0.5rem;
  }

  }