.Git_call{
   color: rgb(76, 76, 76);
   }
   .react-activity-calendar{
       margin: auto;
       margin-top:3rem
   }
   
   .git_stack{
       margin: auto;
       border: 1px solid red;
   }
   
   .gitHead{
       font-size: 2rem;
       color:rgb(76, 76, 76);
   
   }

   @media only screen and (max-width: 420px) {
      .Git_call{
         width: 90%;
         margin: auto;
      }
   }