@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Orbitron&display=swap');





.skillsbox{
    background-color: rgb(248, 248, 248);
    width: 100%;
    padding-top: 100px;
    height: auto;
    margin: auto;
    text-align: center;
     
}
.skillsbox>h1{
    font-size: 40px;
    width: fit-content;
    margin: auto;
    color: rgb(40, 40, 40);
    margin-bottom: 50px;
    
    
}

@keyframes skills {
    0%{
           text-shadow: 0 0  40px #64dd17,
           0 0  40px  #64dd17,
            0 0  40px #64dd17,
            0 0  40px #64dd17

    }
    50%{
      text-shadow: 0 0  10px #64dd17,
      0 0  5px #64dd17,
       0 0  5px #64dd17,
       0 0  5px #64dd17
    }
    100%{
      text-shadow: 0 0  40px #64dd17,
      0 0  40px  #64dd17,
       0 0  40px #64dd17,
       0 0  40px #64dd17
    }
    
  }
.gridbox{
    width:90%;
    margin: auto;
    height:70%;
    margin-top: 5px;
  
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:50px 50px;
    padding: 10px 10px;

}


.skillcard{
    height: 200px;
    width: 200px;
    padding: 10px 10px;
    color: rgb(78, 78, 198);
     box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.skillcard:hover{
    animation-name: rotating;
    animation-duration: 1s;
}
@keyframes rotating {
    0%{
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.skillcard>img{
  width: 80%;
  height: 80%;
}

.skillsbox>div:first-child{
    width: 200px;
 
    height:3rem;
}
@media only screen and (max-width: 1200px) {
    .skillsbox{
        width: 100%;
        height: fit-content;
        padding: 0.5rem;
        margin: auto;
    }
   
    .skillsbox>div{
      width: 90%;
      margin: auto;
     

    }
    .gridbox{
     
        margin: auto;
        width: 100%;
        height: fit-content;
      
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:2rem 2rem;
        padding: 1rem 1rem;
    
    }
    .skillcard{
        width: 9rem;
        height:9rem;
        padding: 0.7rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .skillcard>img{
        height: 80%;
        width: 80%;
    }
 
}
@media only screen and (max-width: 600px) {
    .skillsbox{
        width: 100%;
        height: fit-content;
        padding: 0.5rem;
        margin: auto;
    }
    .skillsbox>h1{
        font-size: 2rem;
    }
    .skillsbox>div{
      width: 90%;
      margin: auto;
    }
    .gridbox{
        margin: auto;
        height: fit-content;
        width: 90%;
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
        
    
    }
    .skillcard{
        height:9rem;
        font-size: 1.5rem;
        font-weight: bold;
        width: 9rem;
        margin: auto;
        /* height: fit-content; */
    }
    .skillcard>img{
        height: 80%;
    }
 
}
@media only screen and (max-width: 420px) {
    .skillsbox{
        width: 100%;
        height: fit-content;
        padding: 0.5rem;
        margin: auto;
        justify-content: center;
    }
    .skillsbox>h1{
        font-size: 2rem;
    }
    .skillsbox>div{
      width: 90%;
      margin: auto;
     

    }
    .gridbox{
     
        margin: auto;
        height: fit-content;
        width: 300px;
        margin-top: 25px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
       
        
    
    }
    .skillcard{
        height:9rem;
       
        font-size: 1.5rem;
        font-weight: bold;
        width: 9rem;
        /* height: fit-content; */
    }
    .skillcard>img{
        height: 6rem;
    }
}