@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Orbitron&display=swap');

.skillsbox{
    background-color: white;
    width: 100%;
    padding-top: 100px;
    height: auto;
    margin: auto;
    text-align: center;
     padding-bottom: 30px;
}
.skillsbox>h1{
    font-size: 40px;
    width: fit-content;
    margin: auto;
    color: rgb(40, 40, 40);
    margin-bottom: 50px; 
}


.gridbox{
    width:90%;
    margin: auto;
    height:70%;
    margin-top: 5px;
  
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:50px 50px;
    padding: 10px 10px;

}


.skillcard{
    height: 200px;
    width: 200px;
    padding: 10px 10px;
    color: rgb(40, 40, 40);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.skillcard:hover{
 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.skillcard>img{
  width: 80%;
  height: 80%;
}

.skillsbox>div:first-child{
    width: 200px;
 
    height:3rem;
}
@media only screen and (max-width: 1200px) {
    .skillsbox{
        width: 100%;
        height: fit-content;
        padding: 0.5rem;
        margin: auto;
    }
   
    .skillsbox>div{
      width: 90%;
      margin: auto;
     

    }
    .gridbox{
     
        margin: auto;
        width: 100%;
        height: fit-content;
      
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:2rem 2rem;
        padding: 1rem 1rem;
    
    }
    .skillcard{
        width: 9rem;
        height:9rem;
        padding: 0.7rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .skillcard>img{
        height: 80%;
        width: 80%;
    }
 
}
@media only screen and (max-width: 600px) {
    .skillsbox{
        width: 100%;
        height: fit-content;
        padding: 0.5rem;
        margin: auto;
    }
    .skillsbox>h1{
        font-size: 2rem;
    }
    .skillsbox>div{
      width: 90%;
      margin: auto;
    }
    .gridbox{
        margin: auto;
        height: fit-content;
        width: 90%;
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
        
    
    }
    .skillcard{
        height:9rem;
        font-size: 1.5rem;
        font-weight: bold;
        width: 9rem;
        margin: auto;
        /* height: fit-content; */
    }
    .skillcard>img{
        height: 80%;
    }
 
}
@media only screen and (max-width: 420px) {
    .skillsbox{
        width: 100%;
        height: fit-content;
        padding: 0.5rem;
        margin: auto;
        justify-content: center;
    }
    .skillsbox>h1{
        font-size: 30px;
        margin-top: 40px;
    }
    .skillsbox>div{
      width: 90%;
      margin: auto;
     

    }
    .gridbox{
     
        margin-top: -20px;
        height: fit-content;
        width: 300px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
    }
    .skillcard{
        height:8rem;
        font-size: 1.5rem;
        font-weight: bold;
        width: 8rem;
        /* height: fit-content; */
    }
    .skillcard>p{
        font-size: 20px;
    }
    .skillcard>img{
        height: 5.5rem;
    }
}